<!--
  Generated template for the ComplaintReview page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Denuncia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid style="font-size: 12px">
        <ion-row>
            <ion-col col-8>
                <strong>ID: </strong>#{{complaint.getComplaintId()}}
                <br />
                <strong>Recibido: </strong>{{complaint.getComplaintDateFormatted()}}
            </ion-col>
            <ion-col col-4 style="text-align:right">
                <ion-badge color="{{complaint.getComplaintStatusColorByIndex(complaint.getComplaintCurrentStatus())}}">
                  {{complaint.getComplaintStatusTitleByIndex(complaint.getComplaintCurrentStatus())}}
                </ion-badge>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item>
        <ion-label><strong>Datos Generales</strong></ion-label>
    </ion-item>
    <ion-grid style="font-size: 12px">
        <ion-row>
            <ion-col col-3><strong>Tipo: </strong></ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintTypeName()}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Direcci&oacute;n:</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintMapAddress()}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Descripci&oacute;n:</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintDescription()}}</ion-col>
        </ion-row>
    </ion-grid>

    <ion-item>
        <ion-label><strong>Archivos Adjuntos</strong></ion-label>
    </ion-item>
    <ion-grid style="font-size: 12px">
        <ion-row>
            <ion-col col-3><strong>Audio</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{audio_index}}/1</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Imagenes</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintPhotoIndex()}}/3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Video</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{video_index}}/1</ion-col>
        </ion-row>
    </ion-grid>

    <ion-item>
        <ion-label><strong>Ubicaci&oacute;n</strong></ion-label>
    </ion-item>
    <br />
    <div #map id="map" style="height:100px;"></div>

</ion-content>
