<!--
  Generated template for the ComplaintConfirmation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Confirmaci&oacute;n</ion-title>
      <ion-buttons right>
          <button ion-button icon-only (click)="sendComplaint()" color="light">
              <ion-icon name="send"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label><strong>Datos Generales</strong></ion-label>
    </ion-item>
    <ion-grid style="font-size: 12px">
        <ion-row>
            <ion-col col-3><strong>Tipo: </strong></ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintTypeName()}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Direcci&oacute;n:</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintMapAddress()}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Descripci&oacute;n:</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintDescription()}}</ion-col>
        </ion-row>
    </ion-grid>
    <!--
    <ion-item>
        <ion-label style="font-weight:bold" text-left>Tipo de Denuncia: </ion-label>
        <ion-label text-right>{{complaint.getComplaintTypeName()}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label style="font-weight:bold" text-left>Direcci&oacute;n: </ion-label>
        <ion-label text-wrap text-right>{{complaint.getComplaintMapAddress()}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label text-left><strong>Descripci&oacute;n: </strong><br /><br />{{complaint.getComplaintDescription()}}</ion-label>
    </ion-item>
    <br />
        -->

    <ion-item>
        <ion-label><strong>Archivos</strong></ion-label>
    </ion-item>
    <ion-grid style="font-size: 12px">
        <ion-row>
            <ion-col col-3><strong>Audio</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{audio_index}}/1</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Imagenes</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{complaint.getComplaintPhotoIndex()}}/3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3><strong>Video</strong> </ion-col>
            <ion-col col-9 style="text-align:right">{{video_index}}/1</ion-col>
        </ion-row>
    </ion-grid>

    <ion-item>
        <ion-label><strong>Ubicaci&oacute;n</strong></ion-label>
    </ion-item>
    <br />
    <div #map id="map" style="height:100px;"></div>
    <!--
    <div style="margin-top: 15px">
        <ion-item>
            <ion-label><strong>Archivos Adjuntos</strong></ion-label>
        </ion-item>
    </div>
    <div *ngIf="complaint.getComplaintPhotoIndex() > 0">
        <ion-label text-left>
            Imagenes {{complaint.getComplaintPhotoIndex()}}/3
            <ion-icon name="checkmark" color="secondary"></ion-icon>
        </ion-label>
        <div class="row">
            <div *ngFor="let photo of complaint.getComplaintPhotos()"  class="col" text-center>
                <img [src]="photo" style="height:60px !important; width: 60px">
            </div>
        </div>
    </div>

    <div *ngIf="complaint.getComplaintVideo() !== null">
        <ion-label text-left>
            Video
            <ion-icon name="checkmark" color="secondary"></ion-icon>
        </ion-label>
        <!-- <div text-center>
            <video style="height:30px !important; width: 20%;">
                <source [src]="complaint.getComplaintVideo()" type="video/mp4" />
            </video>
        </div> 
    </div>
    <div *ngIf="complaint.getComplaintAudio() !== null">
        <ion-label text-left>
            Audio
            <ion-icon name="checkmark" color="secondary"></ion-icon>
        </ion-label>
        <div text-center>
        </div>
    </div>-->

    <!--
    <ion-fab right bottom>
        <button ion-fab (click)="sendComplaint()" color="secondary"><ion-icon name="send"></ion-icon></button>
    </ion-fab> -->
</ion-content>
