<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="light" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nosotros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <div style="text-align:center">
            <h3><strong>Quienes Somos</strong></h3>
            <p>El municipio de Santo Domingo, creado mediante la Ley 163-01 el 16 de octubre de 2001, con la finalidad  de establecer una mayor relaci\xF3n entre los electores y sus representantes ante esos organismos colegiados del gobierno Dominicano.</p>

            <p>Nuestros objetivos est\xE1 basado en trabajar para ti y la comunidad.</p>

            <h5><strong>Misi\xF3n</strong></h5><p>Impulsar el desarrollo integral y la calidad de vida en el Municipio, gestionando la satisfacci\xF3n de las necesidades b\xE1sicas de la poblaci\xF3n mediante la administraci\xF3nn racional y austera en el manejo de los recursos p\xFAblicos y la gobernabilidad democr\xE1tica en Santo Domingo Este.</p>

            <h5><strong>Visi\xF3n</strong></h5><p> Ser el Municipio modelo y reconocido por la eficacia en el logro de mayores y mejores condiciones de vida de la poblaci\xF3n y la efectividad en la promoci\xF3n de nuevas formas de convivencia ciudadana a trav\xE9s de la cohesi\xF3n social, la identidad cultural y el sentimiento y orgullo de pertenencia de los pobladores a su Municipio.</p>

            <h5><strong>Valores</strong></h5><p> Creemos en un modelo de convivencia entre todos los sectores sociales que constituyen el Municipio Santo Domingo Este, entre los mun\xEDcipes, en los sectores industriales, comerciales e informales, como una norma de aplicaci\xF3n cotidiana, guiados por los siguientes valores y principios de actuaci\xF3n:</p>
            <div style="font-style:italic; font-size: 12px">
                <p>Recursos Humanos Altamente Capacitados y Confiables</p>
                <p>Sostenibilidad</p>
                <p>Servicios de Calidad al Ciudadano</p>
                <p>Vocaci\xF3nn de Servicio</p>
                <p>Compromiso con los Mun\xEDcipes</p>
                <p>Mejora Permanente de la Gesti\xF3nn</p>
                <p>Transparencia y Rendici\xF3nn de Cuentas</p>
                <p>Mejora en la Eficacia</p>
                <p>Institucionalidad</p>
                <p>Participaci\xF3nn Ciudadana</p>
                <p>Solidaridad Humana</p>
            </div>
            <h5><strong>Nuestro logo</strong></h5><p> El logo propuesto recoge sus caracter\xEDsticas m\xE1s atractivas: El Sol del Este, sus cuadr\xEDculas hablan del orden urban\xEDstico, la planificaci\xF3n.</p>

            <p>
                A la izquierda la simbolog\xEDa de Los Tres Ojos, atractivo tur\xEDstico y modelo de respeto a la ecolog\xEDa.
                Faro verde de la naturaleza, como monumento universal y de esencia espiritual del origen del municipio.
            </p>

            <p>
                Azul dominante del cielo y el mar iluminado por la esperanza.
                Es el logo de Marca para promover la ciudad con estilo de renovaci\xF3n y modernidad.
            </p>

        </div>
    </div>
    <br />
    <div class="row" text-center>
        <ion-label style="font-size: 8px">Siguenos en las redes para mantener con las &uacute;ltimas noticias</ion-label>
    </div>
    <div class="row" text-center>
        <div class="col">
            <button ion-button outline  color="dark" (click)="openBrowserOn('Facebook')" style="margin-right: 3.5px">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-button outline  color="dark" (click)="openBrowserOn('Twitter')" style="margin-right: 3.5px">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-button outline  color="dark" (click)="openBrowserOn('Instagram')">
                <ion-icon name="logo-instagram"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>
