<!--
  Generated template for the ForgotPw page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recuperaci&#243;n</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image:url(img/background.png); background-position:center; background-repeat:no-repeat; background-size:cover">
    <h4 style="margin-top:45%; color: white" text-center>Escriba su correo y se le estara enviando un correo con instrucciones</h4>
    <ion-item style="background-color: white; opacity: 0.8; border-radius: 10px">
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" color="secondary"></ion-input>
    </ion-item>
    <br />
    <button ion-button block (click)="pwRecovery(email)" color="base">Recuperar</button>
</ion-content>
