<!--
  Generated template for the SpeakToMajor page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button color="light" menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Escribele Al Alcalde</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="sendForm()" color="light">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Asunto</ion-label>
            <ion-input type="text" [(ngModel)]="subject"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Tel&eacute;fono</ion-label>
            <ion-input type="text" [(ngModel)]="phone"></ion-input>
        </ion-item>
    </ion-list>
    <ion-textarea maxlength="500" placeholder="Comentarios" type="text" [(ngModel)]="comments" style="border-bottom: solid 1px lightgray" elastic></ion-textarea>
    <p style="text-align:right; font-size: 9px; color: lightslategray">{{getCommentsLength(comments)}}/500</p>
</ion-content>
