<!--
  Generated template for the Terms page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>T&eacute;rminos y Condiciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image:url(img/background.png); background-position:center; background-repeat:no-repeat; background-size:cover;">
    <div style="background-color: white; opacity: 0.9; border-radius: 10px; padding: 2px 2px 2px 2px">
        <p>
            Los presentes t&eacute;rminos de uso (en lo que sigue, los "T&eacute;rminos de Uso") regulan los servicios del portal web "http://asde.gob.do" (en lo que sigue, el "Portal") del organismo gubernamental "Ayuntamiento Santo Domingo Este" (en lo que sigue, "Organismo Gubernamental"), creado en fecha 30 de septiembre del a&ntilde;o 2014, bajo la direcci&oacute;n del Departamento de Tecnolog&aacute;as de la Informaci&oacute;n y Comunicaci&oacute;n (en lo que sigue, "Departamento TIC"), del Organismo Gubernamental, instituci&oacute;n gubernamental con dependencia directa del Poder Ejecutivo, creada mediante la Ley No. 163-01, de fecha 16 de octubre del a&ntilde;o 2001, con su domicilio y oficina principal en la Calle Carretera Mella # 49, Esq. San Vicente de Paul , Santo Domingo Este, ., R.D.
        </p>
        <p>
            El uso del Portal le otorga la condici&oacute;n de usuario del Portal (en lo que sigue, el "Usuario") e implica la aceptaci&oacute;n plena y sin reservas de todas y cada una de las disposiciones establecidas en los T&eacute;rminos de Uso y las Pol&aacute;ticas publicadas por el Organismo Gubernamental al momento en que el Usuario acceda al Portal. Por lo tanto, se hace necesario que el Usuario lea detenidamente estos t&eacute;rminos en cada ocasi&oacute;n en que utilice el Portal, ya que este puede sufrir modificaciones sin previo aviso.
        </p>
        <p>
            <strong>1. Objeto.-</strong> A trav&eacute;s del Portal, el Organismo Gubernamental facilita a los Usuarios el acceso y el uso de los servicios, informaciones y contenidos (en lo que sigue, los "Servicios") colocados a disposici&oacute;n por el Organismo Gubernamental o por terceros.
        </p>
        <p>
        <p><strong>2. Condiciones de Accesibilidad y Uso del Portal.</strong></p>
        <p>Car&aacute;cter gratuito del acceso y uso del Portal.- La prestaci&oacute;n de los Servicios, de parte del Organismo Gubernamental, tiene car&aacute;cter gratuito para el Usuario. Sin perjuicio de lo anterior, algunos de los Servicios suministrados por el Organismo Gubernamental a trav&eacute;s del Portal podr&aacute;an estar sujetos al pago de una tasa la cual estar&aacute;a establecida en el mismo.</p>
        <p><strong>Registro del Usuario.-</strong> De manera general, la prestaci&oacute;n de los Servicios no exige la suscripci&oacute;n o registro previo de parte del Usuario.</p>
        <p><strong>Veracidad de la informaci&oacute;n.-</strong> Toda informaci&oacute;n facilitada al Usuario mediante los Servicios deber&aacute; ser veraz. Por esto, el Usuario se compromete a garantizar el car&aacute;cter aut&eacute;ntico de los datos que provea a consecuencia de los requisitos de los formularios necesarios para la suscripci&oacute;n de los Servicios. De igual forma, ser&aacute; responsabilidad del Usuario mantener toda la informaci&oacute;n facilitada al Organismo Gubernamental debidamente actualizada de manera tal que responda, en cada momento, a la situaci&oacute;n real del Usuario. En todo caso el Usuario ser&aacute; el &uacute;nico responsable de las informaciones falsas o inexactas que realice y de los perjuicios que pueda causar el Organismo Gubernamental o a terceros por la informaci&oacute;n que suministre.</p>
        <p>Propiedad Intelectual.- Todo el contenido de este Portal, ya sean textos, im&aacute;genes, recopilaciones, marcas, logotipos, combinaciones de colores, o cualquier otro elemento, su estructura y dise&ntilde;o, la selecci&oacute;n y forma de presentaci&oacute;n de los materiales incluidos en la misma, y los programas necesarios para su funcionamiento, acceso y uso, est&aacute;n protegidos por derechos de propiedad intelectual, de los cuales es titular el Organismo Gubernamental o de terceros licenciantes, que el Usuario de este Portal debe respetar.</p>
        <p>El Usuario del Portal deber&aacute; abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protecci&oacute;n o sistema de seguridad que pueda estar instalado en el mismo.</p>
        <p><strong>3. Protecci&oacute;n de los datos personales.-</strong> Para utilizar algunos de los Servicios, el Usuario debe facilitar previamente al Organismo Gubernamental algunos datos de car&aacute;cter personal (en lo que sigue, los "Datos Personales").</p>
        <p>El Organismo Gubernamental tratar&aacute; de forma autom&aacute;tica los Datos Personales con la finalidad y las condiciones, definidas en su Pol&aacute;tica de Privacidad. EL Organismo Gubernamental no garantiza la ausencia de virus ni de otros elementos en los Servicios prestados por terceros a trav&eacute;s del Portal que puedan causar alteraciones en el sistema inform&aacute;tico del Usuario (software y hardware) o en los documentos electr&oacute;nicos y/o bases de datos de su sistema inform&aacute;tico.</p>
        <p>El Organismo Gubernamental ha adoptado los niveles de seguridad de protecci&oacute;n que entiende necesarios y procura instalar los medios y medidas t&eacute;cnicas de protecci&oacute;n que se vayan haciendo necesarias. Sin embargo, el Usuario debe estar consciente de que las medidas de seguridad en la Internet no son inviolables.</p>
        <p>El Organismo Gubernamental puede utilizar cookies cuando un Usuario navega por los sitios y p&aacute;ginas Web del Portal. Las cookies que se puedan usar en los sitios y p&aacute;ginas Web del Portal se asocian &uacute;nicamente con el navegador de un computador determinado (un Usuario an&oacute;nimo), y no proporcionan en s&aacute; mismas el nombre y apellido del Usuario. Gracias a las "cookies", resulta posible que el Organismo Gubernamental reconozca los navegadores de los Usuarios registrados (luego de que &eacute;stos se hayan registrado por primera vez), esto ayuda que no tengan que registrarse cada vez que visita las &aacute;reas y los Servicios reservados exclusivamente a ellos. Las "cookies" utilizadas no pueden leer archivos "cookie" creados por otros proveedores. El Usuario tiene la posibilidad de configurar su navegador para ser avisado en su pantalla de la recepci&oacute;n de "cookies" y para impedir la instalaci&oacute;n de las mismas en el disco duro.</p>
        <p>Para utilizar el Portal no es indispensable la instalaci&oacute;n de las "cookies" enviadas por el Organismo Gubernamental, sin perjuicio de que en tal caso puede ser necesario que el Usuario se registre cada vez que acceda a un Servicio que requiera un registro previo.</p>
    </div>
    <ion-list>
        <ion-item style="opacity: 0.8; border-radius: 10px; margin-top: 5px">
            <ion-label>Est&aacute; de acuerdo</ion-label>
            <ion-checkbox color="base" [(ngModel)]="terms"></ion-checkbox>
        </ion-item>
    </ion-list>
    <button ion-button block bottom (click)="register(terms)" color="base">Registrame</button>
</ion-content>
&ntilde;