<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ubicar Denuncia</ion-title>
      <ion-buttons right>
          <button ion-button icon-only *ngIf="marker_visible" (click)="confirmComplaint()" color="light">
            <ion-icon name="send"></ion-icon>
          </button>
          
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div #map id="map" style="height:100%;"></div>
</ion-content>
