<ion-header>
    <ion-navbar>
        <button ion-button color="light" menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Denuncias</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown">
        </ion-refresher-content>
    </ion-refresher>

    <ion-label text-center *ngIf="list_of_complaints.length < 1">
        <img src="img/complaint_background.png" style="height: 130px; width: 130px; margin-top: 40%; opacity: 0.6;">
    </ion-label>
    <ion-list>
        <button ion-item *ngFor="let complaint of list_of_complaints" (click)="openComplaint(complaint)">
            <ion-avatar item-left>
                <img src="img/logo.png">
            </ion-avatar>
            <h2><strong item-center>#{{complaint.complaint_id}}</strong>, {{complaint.complaint_type_name}}</h2>
            <p item-center>{{complaint.complaint_description}}</p>

            <ion-badge color="{{complaint.getComplaintStatusColorByIndex(complaint.getComplaintCurrentStatus())}}" item-right>
                {{complaint.getComplaintStatusTitleByIndex(complaint.getComplaintCurrentStatus())}}
            </ion-badge>
        </button>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab color="base" (click)="createComplaint()"><ion-icon name="create" color="light"></ion-icon></button>
    </ion-fab>

</ion-content>
