<!--
  Generated template for the Complaint page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header (click)="onContentClick(fab)">

    <ion-navbar>
        <ion-title>Crear Denuncia</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="openMap(type, another, description)" color="light">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content (click)="onContentClick(fab)">

    <ion-label text-wrap style="font-size:10px; opacity: 0.8; text-align:center">La denuncia ser&aacute; atendida en un horario de 8:00AM a 4:00PM</ion-label>

    <ion-list>
        <ion-item style="border-bottom: solid 1px lightgray">
            <ion-label>Tipo de Denuncia</ion-label>
            <ion-select [(ngModel)]="type" okText="Ok" cancelText="Cancelar" (click)="onContentClick(fab)">
                <ion-option *ngFor="let opt of complaint_types" value="{{opt.value}}">{{opt.title}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngIf="type=='10'" style="border-bottom: solid 1px lightgray">
            <ion-label>Espec&iacute;fique</ion-label>
            <ion-input type="text" [(ngModel)]="another" (click)="onContentClick(fab)"></ion-input>
        </ion-item>
    </ion-list>

    <ion-textarea maxlength="200" placeholder="Descripci&oacute;n" type="text" [(ngModel)]="description" style="border-bottom: solid 1px lightgray" elastic></ion-textarea>
    <p style="text-align:right; font-size: 9px; color: lightslategray" (click)="onContentClick(fab)">{{getDescriptionLength(description)}}/200</p>

    <div class="row" style="width:90%" text-center>
        <div text-center *ngFor="let i of [0,1,2]" style="width: 100%">
            <div *ngIf="photoTaken[i]">
                <ion-card style="width: 100%">
                    <ion-item style="background-color: lightgray">
                        <ion-icon name="image" item-left style="margin-right: 4px" color="base"></ion-icon>
                        <h2>Imagen #{{i+1}}</h2>
                        <p text-wrap>{{getComplaintPhotoUrl(i)}}</p>
                        <button ion-button (click)="removePhotoByIndex(i)" outline item-right style="border: black; border-radius: 50%">
                            <ion-icon color="dark" name="close"></ion-icon>
                        </button>
                    </ion-item>
                </ion-card>
            </div>
        </div>
        <div text-center style="width: 100%">
            <div *ngIf="audioTaken">
                <ion-card style="width: 100%">
                    <ion-item style="background-color: lightgray">
                        <ion-icon name="recording" item-left style="margin-right: 4px" color="base"></ion-icon>
                        <h2>Audio</h2>
                        <p text-wrap>{{getAudioName()}}</p>
                        <button ion-button (click)="removeAudio()" outline item-right style="border: black; border-radius: 50%">
                            <ion-icon color="dark" name="close"></ion-icon>
                        </button>
                    </ion-item>
                </ion-card>
            </div>
        </div>
        <div text-center style="width: 100%">
            <div *ngIf="videoTaken">
                <ion-card style="width: 100%">
                    <ion-item style="background-color: lightgray">
                        <ion-icon name="film" item-left style="margin-right: 4px" color="base"></ion-icon>
                        <h2>Video</h2>
                        <p text-wrap>{{getVideoName()}}</p>
                        <button ion-button (click)="removeVideo()" outline item-right style="border: black; border-radius: 50%">
                            <ion-icon color="dark" name="close"></ion-icon>
                        </button>
                    </ion-item>
                </ion-card>
            </div>
        </div>

    </div>
</ion-content>


<ion-fab left bottom #fab>
    <button ion-fab color="base"><ion-icon name="attach"></ion-icon></button>
    <ion-fab-list side="top">
        <button ion-fab (click)="selectPicFromGallery(fab)" *ngIf="getCameraIndex() < 3">
            <ion-icon name="image"></ion-icon>
        </button>
        <button ion-fab (click)="selectVideoFromGallery(fab)" *ngIf="!videoTaken">
            <ion-icon name="film"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="right">
        <button ion-fab (click)="openCamera(fab)" *ngIf="getCameraIndex() < 3">
            <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab (click)="openVideoCamera(fab)" *ngIf="!videoTaken">
            <ion-icon name="videocam"></ion-icon>
        </button>
        <button ion-fab (click)="openRecorder(fab)" *ngIf="!audioTaken">
            <ion-icon name="mic"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>