// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background: #5CA041 !important;
    //background-color: #5f9845 !important;
}

.toolbar-title {
    color: white !important;
}

.toolbar-button-color {
    background: white !important;
    color: white !important;
}

.md, .wp, .ios {
    .back-button {
        color: white !important;
    }
}
/*
.ion-title {
    color: white;
}*/

ion-toast.custom-toast {
    .toast-wrapper.toast-bottom  {
        position: absolute;
        right: 0;
        left: 0;
		bottom: 5px;
        z-index: 10;
        display: block;
        margin: auto;
        width: 90%;
        max-width: 700px;
        border-radius: 35px;
        background: #262626;
        text-align: center;
        /* color: black; */
    }

    .toast-md .toast-message {
		padding: 19px 16px 17px;
		font-size: 1.5rem;
		/* color: #fff; */
		text-align: center;
	}
}