s<ion-menu id="side-menu" [content]="content">
    <ion-header no-border style="background-image:url('img/header_background.png'); background-color: black; color: white !important; background-size: cover; ">
        <ion-toolbar>
            <img src="img/logo.png" style="width: 110px; height: 110px;  margin-left:13px;" />
            <ion-grid style="font-size: 12px">
                <ion-row>
                    <ion-col style="text-align:left; margin-left:11px">
                        Bienvenido, <strong>{{name}}</strong> 
                        <br />
                        {{username}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list no-lines>
            <div *ngFor="let p of pages" style="margin-top:10px">
                <button menuClose [style.backgroundColor]="p.active" (click)="openPage(p)" ion-item>
                    <ion-icon name="{{p.icon}}" item-left></ion-icon>
                    <ion-label item-center>{{p.title}}</ion-label>
                    <ion-badge color="secondary" *ngIf="p?.title === 'Denuncias' && total_complaints > 0" item-right>{{total_complaints}}</ion-badge>
                </button>
            </div>
        </ion-list>

        <hr />
        <ion-list no-lines>
            <button menuClose ion-item (click)="helpAndFeedback()">
                <ion-icon name="help-circle" item-left></ion-icon>
                Ayuda &amp; Retroalimentaci&oacute;n
            </button>
            <button menuClose ion-item (click)="signOut()">
                <ion-icon name="exit" item-left></ion-icon>
                Salir
            </button>
        </ion-list>

    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

