<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hidden] *navbar>
      <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image:url(img/background.png); background-position:center; background-repeat:no-repeat; background-size:cover">

    <img src="img/main-logo.png" style="width:50%; height: 30%; margin-top:15% !important; display: block; margin: auto"/>
        <ion-item style="background-color:white !important; margin-bottom: 2.5%; margin-top: 4.5%; border-radius: 10px; opacity: 0.8">
            <ion-input type="text" placeholder="Email" style="color: black; font-size: 14px;" [(ngModel)]="email" text-wrap></ion-input>
        </ion-item>

        <ion-item style="background-color:white !important; border-radius: 10px; opacity: 0.8">
            <ion-input type="password" placeholder="Contrase&ntilde;a" style="color: black; font-size: 14px;" [(ngModel)]="password" text-wrap></ion-input>
        </ion-item>

    <br />
    <button ion-button block (click)="signIn($event, email, password)" color="base" style="color:white">Entrar</button>
    <div class="row">
        <button ion-button clear (click)="register()" style="text-align:left; margin-left:auto; margin-right:auto" color="light">Registrate</button>
        <button ion-button clear (click)="forgotPw()" style="text-align:right; margin-left:auto; margin-right:auto" color="light">Olvidaste tu contrase&#241;a?</button>
    </div>
</ion-content>
