<!--
  Generated template for the Emergencies page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button color="light" menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Emergencias</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let item of list">

        <a href="tel:+{{item.tel}}" style="text-decoration: none">
            <ion-item >

                <ion-avatar item-left>
                    <img src={{item.image}}>
                </ion-avatar>
                <h2 text-wrap>{{item.name}}</h2>
                <p>{{item.tel}}</p>

                <button ion-button clear item-right icon-only>
                    <ion-icon name="call" color="secondary" item-right></ion-icon>
                </button>

            </ion-item>

        </a>
        <!--
        <div *ngFor="let item of list">
            <a href="tel:+{{item.tel}}" style="text-decoration: none">
                <button ion-item>
                    <ion-avatar item-left>
                        <img src={{item.image}}  />
                    </ion-avatar>
                    <div class="row" item-center>
                        <h2 text-wrap>{{item.name}}</h2><br />
                        <p text-wrap>{{item.tel}}</p>
                    </div>
                    <ion-icon name="call" color="secondary" item-right></ion-icon>
                </button>
            </a>
        </div>
        -->
    </ion-list>
</ion-content>
