<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Registrar</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding style="background-image:url(img/background.png); background-position:center; background-repeat:no-repeat; background-size:cover">

    <ion-list no-lines>
        <form [formGroup]="register_form">

            <ion-item style="background-color: white !important; margin-bottom: 2%; border-radius: 10px; opacity: 0.8">
                <ion-icon name="contact" item-left></ion-icon>
                <ion-label stacked>Nombre(s)</ion-label>
                <ion-input type="text" placeholder="Jose" formControlName="first_name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!register_form.controls.first_name.valid && submit_attempt" style="background-color: transparent !important; margin-bottom: 6%; opacity: 0.9">
                <p style="color: red">Por favor entrar un nombre(s) v&aacute;lido</p>
            </ion-item>

            <ion-item style="background-color: white !important; margin-bottom: 2%; border-radius: 10px; opacity: 0.8">
                <ion-icon name="contact" item-left></ion-icon>
                <ion-label stacked>Apellido(s)</ion-label>
                <ion-input type="text" placeholder="Perez" formControlName="last_name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!register_form.controls.last_name.valid && submit_attempt" style="background-color: transparent !important; margin-bottom: 6%; opacity: 0.9">
                <p style="color: red">Por favor entrar un apellido(s) v&aacute;lido</p>
            </ion-item>

            <ion-item style="background-color: white !important; margin-bottom: 2%; border-radius: 10px; opacity: 0.8">
                <ion-icon name="mail" item-left></ion-icon>
                <ion-label stacked>Correo</ion-label>
                <ion-input type="email" placeholder="jose.perez@gmail.com" formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!register_form.controls.email.valid && submit_attempt" style="background-color: transparent !important; margin-bottom: 6%; opacity: 0.9">
                <p style="color: red">Por favor entrar un correo v&aacute;lido</p>
            </ion-item>

            <ion-item style="background-color: white !important; margin-bottom: 2%; border-radius: 10px; opacity: 0.8">
                <ion-icon name="lock" item-left></ion-icon>
                <ion-label stacked>Contrase&#241;a</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="!register_form.controls.password.valid && submit_attempt" style="background-color: transparent !important; margin-bottom: 6%; opacity: 0.9" text-wrap>
                <p style="color: red">La contrase&#241;a debe tener 8 car&aacute;cteres por lo menos</p>
            </ion-item>

            <ion-item style="background-color: white !important; margin-bottom: 2%; border-radius: 10px; opacity: 0.8">
                <ion-icon name="lock" item-left></ion-icon>
                <ion-label stacked>Repetir Contrase&#241;a</ion-label>
                <ion-input type="password" formControlName="re_password"></ion-input>
            </ion-item>
            <ion-item *ngIf="(!register_form.controls.re_password.valid || !pw_validation) && submit_attempt" style="background-color: transparent !important; margin-bottom: 6%; opacity: 0.9" text-wrap>
                <p style="color: red">Las contrase&#241;as deben ser iguales</p>
            </ion-item>

        </form>
    </ion-list>

    <button ion-button block bottom (click)="continueRegistration()" color="base">Continuar</button>

</ion-content>
